.white-text{
    color: white;
}

  .bgnd-white{
    background-color: white;
  }

  .bgnd-white-confirm{
    background-color: white;
    width: 200px;
    height: 40px;
  }

  .bgnd-grey{
    background-color: #ECEBEB;
  }

  .bgnd-grn{
    background-color: #50BC86;
  }

  .bgnd-grn-confirm{
    background-color: #50BC86;
    width: 200px;
    height: 40px;
  }

  .bgnd-red{
    background-color: #E9596E;
}

.red-text{
  color: #E9596E;
}

.grey-text{
  color: #979797;
}

.grn-text{
  color: #50BC86;
}

.clr-bgnd
{
    background-color: rgba(0, 0, 0, 0)
}

.bgnd-darkgrey{
  background-color: #979797;
}