.conf-section{
   
    border-top-left-radius: 29px;
    border-top-right-radius: 29px;
    margin-top: -45px;
    z-index: 1;
}

.top{
    height: 200px;
    background-image: url("img/Cosmo-full.png");
    background-size: 100%;
}

.in-blk{
    display: inline-block;
}

.vert-mid{
    vertical-align: middle; 
}

.extra-tp{
  padding-top: 20px;
}


.cnt-align{
  text-align: center;
}

.back-btn{
  float: left;
}
.skip-arrow{
  float: right;
}
.skip-btn{
  float: right;
}

.f-center{
  float: center;
}

.sBar{
  padding-top: -22px;
}

.top-nav-btns{
  padding-top: 5px;
}

.info{
    padding: 60px;
}

.words{
    padding-top: 24px;
}

.heading{
  font-size: 34px;
  font-family: "Montserrat" 
}

a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}