/* body{
    background-color: blue;
} */

.btm-nav{
    background-color: #FBFAFA;
    text-align: center;
   
}

.nav-text{
    font-size: 8px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: black;
}

.nav-img{
    height: 24px;
    width: 18px;
}

.nav-info{
    height: 24px;
    width: 23px;
}

.nav-learn{
    height: 24px;
    width: 23px;
}

.top-banner{
    background-color:#82CAA6;
    height: 77px;
}

.icon{
    width:38px;
    height: 39px;
    vertical-align: center;
    margin-left: 5px;
    margin-top: 5px;
}

.white-text{
    color: white;
}
.title{
    text-align: center;
    font-size: 12px;
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    border-radius: 14px;
    margin-top: 8px;
    margin-right: 0px;
    font-size: 17px;
    width: 286px;
  }

  .search-bar{
      float: right;
  }

  .bgnd-white{
    background-color: white;
  }

  .bgnd-grey{
    background-color: #ECEBEB;
  }

  .btn-section{
      text-align: center;
      height: 201px;
      padding: 0px;
      
  }

  .pet-section{
      height: 338px;
  }

  .bgnd-red{
      background-color: #E9596E;
  }

  .emrgency-btn{
      width: 358px;
      height: 59px;
      font-size: 30px;
      border-radius: 8px;
  }

  .white-text{
      color:white;
  }

  .main-btns{
      height:112px;
      width: 114px;
      border-radius: 8px;
      text-align: center;
      display: inline-block;

  }

  .btn-row{
text-align: center;
padding:0px;
      width: 358px;
  }
