.pet-section{
    height: 667px;
    border-top-left-radius: 29px;
    border-top-right-radius: 29px;
    margin-top: -20px;
    z-index: 1;
}

.card2 {
    display: inline-block;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    margin: 10px;
    border: 7px solid #D7DAD8;
    vertical-align: middle;
    background-image: url("img/PROFILE-2.png");
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 100%;
  }

  .card1 {
    display: inline-block;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    margin: 10px;
    border: 7px solid #D7DAD8;
    vertical-align: middle;
    background-image: url("img/PROFILE-1.png");
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 100%;
  }

  .card3 {
    display: inline-block;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    margin: 10px;
    border: 7px solid #D7DAD8;
    vertical-align: middle;
    background-image: url("img/PROFILE.png");
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 100%;
  }

  .card-check {
    text-align: center;
    display: inline-block;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    margin: 10px;
    border: 7px solid #82CAA6;
    vertical-align: baseline;
    background-image: url("img/PROFILE-2.png");
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 100%;
  }

.check{
    padding-top: 20px;
    height:80%;
    width: 80%;
}

.name{
    font-size: 28px;
}

.stats{
    font-size: 14px;
}

  .in-blk{
      display: inline-block;
  }

  .vert-mid{
      vertical-align: middle; 
  }

.extra-tp{
    padding-top: 20px;
}


.cnt-align{
    text-align: center;
}

.back-btn{
    float: left;
}
.skip-arrow{
    float: right;
}
.skip-btn{
    float: right;
}

.f-center{
    float: center;
}

.sBar{
    padding-top: -22px;
}

.top-nav-btns{
    padding-top: 5px;
}

.topnav input[type=text] {
    padding: 6px;
    border: none;
    border-radius: 14px;
    margin-top: 8px;
    margin-right: 0px;
    font-size: 17px;
    width: 286px;
}