.btm-nav{
    background-color: #FBFAFA;  
}

.nav-text{
    font-size: 8px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: black;
}

.nav-img{
    height: 40px;
    width: 34px;
}

.nav-info{
    height: 24px;
    width: 23px;
}

.nav-learn{
    height: 24px;
    width: 23px;
}

.next-btn{
    width: 358px;
    height: 59px;
    font-size: 30px;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.nav-item{
    padding-right: 10px;
    padding-left:50px;
}

.i-info{
    margin-right: -100px;
}