.summary-section{
   
    border-top-left-radius: 29px;
    border-top-right-radius: 29px;
    margin-top: -60px;
    padding-top: 20px;
    padding-bottom: 10px;
    z-index: 1;

}

.top{
    height: 200px;
}

.in-blk{
    display: inline-block;
}

.vert-mid{
    vertical-align: middle; 
}

.extra-tp{
  padding-top: 40px;
}


.cnt-align{
  text-align: center;
}

.back-btn{
  float: left;
}
.skip-arrow{
  float: right;
}
.skip-btn{
  float: right;
}

.f-center{
  float: center;
}

.sBar{
  padding-top: -22px;
}

.top-nav-btns{
  padding-top: 5px;
}

.info{
    padding: 60px;
}

.words{
    padding-top: 24px;
}

.friend-btn{
  width: 314px;
  height: 115px;
  margin-bottom: 15px;
}

.bcrumb{
  padding-top: 60px;
}

.heading{
  font-size: 40px;
  font-family: "Montserrat" 
}

.subtitle{
  font-size: 25px;
  font-family: "Montserrat" 

}
.h6{
  font-weight:300;
  font-family: "Montserrat" 
}

.btns{
  padding-top: 40px;
}

.pet-pro{
  padding-top: 50px;
}

.cosmo{
  width:184px;
  height: 184px;
  margin-bottom:20px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordionz {
  background-color:#EA596E;
  color: #444;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  }
  

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordionz:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.green { color: #5DBC86;

}

.red { color:#EA596E
 }

.card-header {
  padding: 3px;
  margin-bottom: 5px;
  background-color: #EA596E

}

.h6{
  color: #FFFFFF;
  font-weight: bold;
  font-family: "Montserrat" 
  
}

.btn-link {
  color:#FFFFFF
}

.card-body {
  text-align: left;
}

a {
  color: #000000;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}