.pic-section{
   
    border-top-left-radius: 29px;
    border-top-right-radius: 29px;
    margin-top: -45px;
    z-index: 1;

}

.top{
    height: 200px;
}

.in-blk{
    display: inline-block;
}

.vert-mid{
    vertical-align: middle; 
}

.extra-tp{
  padding-top: 20px;
}


.cnt-align{
  text-align: center;
}

.back-btn{
  float: left;
}
.skip-arrow{
  float: right;
}
.skip-btn{
  float: right;
}

.f-center{
  float: center;
}

.sBar{
  padding-top: -22px;
}

.top-nav-btns{
  padding-top: 5px;
}



.words{
    padding-top: 24px;
}
.friend-btn{
    width: 314px;
    height: 115px;
    margin-bottom: 15px;
  }
  
  .bcrumb{
    padding-top: 60px;
    width:199px;
  }
  
  .heading{
    font-size: 30px;
    font-family: "Montserrat" 
  }
  
  .info{
      width: 80%;
      height: 80%;
  }

  .imgs{
      margin:10px;
      margin-top: 30px;

  }

  .btn-mar{
      padding-top: 20px;
  }

  .info-btn{
    width: 260px;
    height: 43px;
    font-size: 21px;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

a {
  color: #000000;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}